<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <meta name="csrf-token" content="{{ csrf_token }}">
  <!-- base:css -->
  <link rel="stylesheet" href="/static/partner/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/partner/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/partner/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/partner/images/favicon.png" />
</head>

<body>
  <div class="container-scroller d-flex">
    <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="/static/partner/images/Agoda_transparent_logo.png" alt="logo">
              </div>
              <h4>Welcome back!</h4>
              <h6 class="font-weight-light">Happy to see you again!</h6>
              <form id="loginForm" class="mb-3">
                <div class="alert alert-danger" style="display: none;">
                </div>
                <div class="form-group">
                  <label for="email" class="form-label">Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-account-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" required placeholder="Enter your email" autofocus="autofocus" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="password">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Enter your password" aria-describedby="password" />                       
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">Forgot password?</a>
                </div>
                <div class="my-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">LOGIN</button>
                </div>
                <div class="mb-2 d-flex">
                  <a href="https://accounts.google.com/o/oauth2/auth?client_id=7235236439-v1cvuc00nq59ousbn29pphjsk9gp2s21.apps.googleusercontent.com&redirect_uri=http://127.0.0.1:8000/google-callback&response_type=code&scope=email%20profile&access_type=offline&prompt=consent
" class="btn btn-google auth-form-btn flex-grow ml-1" style="margin-left: 0 !important;flex: 1;">
                    <i class="mdi mdi-google mr-2"></i>Google
                  </a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="/register" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-none d-lg-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('loginForm').addEventListener('submit',async function(){
        event.preventDefault();
        const csrftoken=document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const email=document.getElementById('email').value;
        const password=document.getElementById('password').value;
        const response= await fetch('/login_user/',{
            method:'POST',
            headers:{
                'X-CSRFToken':csrftoken
            },
            body:JSON.stringify({email,password})
        });
        const result=await response.json();
        if(result.success){
            const user_info= result.user_info;
            if(user_info.role==="customer"){
                localStorage.setItem(`${user_info.role}_token`, user_info.token);
                localStorage.setItem(`${user_info.role}_name`, user_info.name);
                const params = new URLSearchParams(window.location.search);
                const redirectUrl = params.get('redirect');
                if (redirectUrl) {
                window.location.href = redirectUrl; 
                } else {
                  window.location.href='/customer/home/';
                }
            } else{
                localStorage.setItem(`${user_info.role}_token`, user_info.token);
                localStorage.setItem(`${user_info.role}_name`, user_info.name);
                const params = new URLSearchParams(window.location.search);
                const redirectUrl = params.get('redirectpartner');
                if (redirectUrl) {
                window.location.href = redirectUrl; 
                } else {
                  window.location.href='/partner/home/';
                }
            }
        } else{
            console.error('Error:'+ result.error);
            document.querySelector('.alert-danger').innerHTML=`${result.error}`;
            document.querySelector('.alert-danger').style.setProperty('display', 'block', 'important');
        }
    });
  </script>
  <style>
    .auth .login-half-bg {
    background: url(/static/partner/images/auth/login-bg.jpg);
    background-size: cover;
    background-position: right;
    }
  </style>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="/static/partner/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/partner/js/off-canvas.js"></script>
  <script src="/static/partner/js/hoverable-collapse.js"></script>
  <script src="/static/partner/js/template.js"></script>
  <!-- endinject -->
</body>

</html>
