{% extends "partner/base_layout.html" %}
{% block content %}
<!-- Thêm Leaflet CSS và JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<meta name="csrf-token" content="{{ csrf_token }}">
<!-- Thêm plugin Geocoder -->
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit hotel</h4>
                <form class="forms-sample" id="edithotelForm">
                    <div class="form-group">
                        <label for="hotel-name">Hotel Name</label>
                        <input type="text" class="form-control" name="name" id="hotel-name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Hotel Address</label>
                        <input type="text" class="form-control" id="address" placeholder="Hoặc nhập địa chỉ ở đây"
                            required />
                        <div id="map" style="height: 250px;"></div>
                    </div>
                    <div class="form-group">
                        <label>File upload</label>
                        <input type="file" name="img[]" id="hotel-image" class="file-upload-default" accept="image/*">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" name="image-hotel" id="file-name"
                                disabled placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button"
                                    id="upload-button">Upload</button>
                            </span>
                        </div>
                        <span id="image-error" class="error-message"
                            style="color: red; display: none;font-size: 0.875rem;line-height: 1.4rem;margin-top: 5px;"></span>
                    </div>
                    <div>
                        <img id="selected-image" src="#" alt="Selected Image"
                            style="display:none;max-width: 100px;margin: auto;" />
                    </div>
                    <div class="form-group">
                        <label for="hotel-description">Description</label>
                        <textarea class="form-control" name="description" id="hotel-description" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" id="back-button">Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var map = L.map('map').setView([21.0285, 105.8542], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    var geocoder = L.Control.geocoder({
        geocoder: new L.Control.Geocoder.Nominatim({
            geocodingQueryParams: {
                countrycodes: 'VN'
            }
        })
    }).addTo(map);
    const partnerToken = localStorage.getItem('partner_token');
    const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const hotel_id = "{{ hotel_id }}"
    document.addEventListener('DOMContentLoaded', async function () {
        const alternatives = document.querySelector('.leaflet-control-geocoder-alternatives');
        if (alternatives) {
            alternatives.addEventListener('wheel', function (e) {
                e.stopPropagation();
            });
            alternatives.addEventListener('mousedown', function (e) {
                e.stopPropagation();
            });
        }
        const response = await fetch(`/edit_hotel/${hotel_id}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${partnerToken}`,
                'X-CSRFToken': csrftoken,
            }
        });
        const result = await response.json();
        if (result.success) {
            const data = result.hotel;
            document.getElementById('hotel-name').value = data.name;
            document.getElementById('address').value = data.address
            document.getElementById('hotel-description').value = data.description;
            document.getElementById('file-name').value = data.imagehotel;
            document.getElementById('selected-image').src = data.imagehotel;
            if (data.imagehotel) {
                hotelImagePath=data.imagehotel;
                document.getElementById('selected-image').style.display = 'block';
            }
        } else {
            console.error('Error:' + result.error);
        }
    });

    let marker = null;
    let debounceTimeout = null;
    function addMarker(lat, lng) {
        clearTimeout(debounceTimeout);
        if (marker) {
            map.removeLayer(marker);
            const markerImg = document.querySelector('.leaflet-marker-icon');
            if (markerImg) {
                markerImg.remove();
            }
            marker = null;
        }
        marker = L.marker([lat, lng]).addTo(map);

        const addressField = document.getElementById('address');
        addressField.value = 'Đang tải...';

        debounceTimeout = setTimeout(() => fetchAddressFromLatLng(lat, lng), 300); // Đợi 300ms
    }

    map.on('click', function (e) {
        const lat = e.latlng.lat;
        const lng = e.latlng.lng;
        addMarker(lat, lng);
    });

    geocoder.on('markgeocode', function (e) {
        const lat = e.geocode.center.lat;
        const lng = e.geocode.center.lng;
        addMarker(lat, lng);
    });

    function fetchAddressFromLatLng(lat, lng) {
        fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`)
            .then(response => response.json())
            .then(data => {
                const address = parseAddress(data.address);
                document.getElementById('address').value = address;
            })
            .catch(err => console.error('Error fetching address:', err));
    }

    function parseAddress(address) {
        const components = [];

        if (address.house_number) components.push(address.house_number);
        if (address.road) components.push(address.road);
        if (address.suburb || address.city_district) components.push(address.suburb || address.city_district);
        if (address.city || address.town || address.village) components.push(address.city || address.town || address.village);
        if (address.state) components.push(address.state);
        if (address.country) components.push(address.country);
        return components.join(', ');
    }

    document.getElementById('upload-button').addEventListener('click', function () {
        document.getElementById('hotel-image').click();
    });
    let selectedImage = null;
    let hotelImagePath = null;
    document.getElementById('hotel-image').addEventListener('change', function (event) {
        selectedImage = event.target.files[0];
        if (selectedImage) {
            const objectURL = URL.createObjectURL(selectedImage);
            const imageElement = document.getElementById('selected-image');
            document.getElementById('file-name').value = selectedImage.name;
            imageElement.src = objectURL;
            imageElement.style.display = 'block';
        }
    });
    document.getElementById('edithotelForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        if (!partnerToken) {
            alert('Chưa đăng nhập');
            return;
        }
        const name = document.getElementById('hotel-name').value;
        const address = document.getElementById('address').value;
        const description = document.getElementById('hotel-description').value;
        if (selectedImage) {
            const formData = new FormData();
            formData.append('image', selectedImage);

            try {
                const uploadResponse = await fetch('/upload/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    body: formData
                });
                const uploadData = await uploadResponse.json();
                if (uploadData.success) {
                    hotelImagePath = uploadData.file_path;
                } else {
                    alert('Có lỗi xảy ra khi tải ảnh lên!');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('Có lỗi xảy ra. Vui lòng thử lại.');
            }

        } else if(!selectedImage && !hotelImagePath) {
            const errorElement = document.getElementById('image-error');
            errorElement.textContent = 'Vui lòng chọn ảnh';
            errorElement.style.display = 'block';
            return;
        }
        const imagehotel = hotelImagePath;
        const editHotelResponse = await fetch(`/edit_hotel/${hotel_id}/`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${partnerToken}`,
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ name, address, description, imagehotel })
        });
        const editHotelData = await editHotelResponse.json();

        if (editHotelData.success) {
            alert(editHotelData.message);
            window.location.href = '/partner/hotel/';
        } else if (editHotelData.error) {
            alert(`Error: ${editHotelData.error}`);
        }

    });
    document.getElementById('back-button').addEventListener('click', function () {
        window.location.href = '/partner/hotel/';
    })
</script>
<style>
    .leaflet-control-geocoder {
        z-index: 1000;
    }

    .leaflet-control-geocoder-alternatives {
        max-height: 200px;
        overflow-y: auto;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}