{% extends "partner/base_layout.html" %}
{% block content %}
<meta name="csrf-token" content="{{ csrf_token }}">

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit details room</h4>
                <form class="forms-sample" id="editroomForm">
                    <div class="form-group">
                        <label for="price">Price only day</label>
                        <div style=" display: flex;flex-direction: row;align-items: center;gap: 5px;">
                        <input type="number" style="width:50%;" class="form-control" value="100" min="100" name="price" id="price" required>
                        <span style="font-size: 0.875rem;line-height: 1.4rem;vertical-align: top;">VNĐ <span style="color: red;">*(đv nghìn đồng)</span></span>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="sum-room">The number of rooms available</label>
                        <input type="number" style="width:50%;" class="form-control" id="sum-room" value="1" min="1" required />
                    </div>

                    <div class="form-group"
                        style="    display: flex;flex-direction: row;align-items: center;gap: 15px;">
                        <label for="payment" style="margin-bottom: 0px;">Number of people in a room</label>
                        <div class="counter" style="display: flex;flex-direction: row;align-items: center;gap: 50px;">
                            <label style="margin-bottom: 0px;font-weight: 600;font-size: large;">Adult</label>
                            <button type="button" class="btn btn-primary mr-2" onclick="adjustGuest('adult',-1)"
                                style="margin-top: 0;">-</button>
                            <span id="adult-number" readonly="" data-value="1">1</span>
                            <button type="button" class="btn btn-primary mr-2" onclick="adjustGuest('adult', 1)"
                                style="margin-top: 0;">+</button>
                        </div>
                        <div class="counter" style="display: flex;flex-direction: row;align-items: center;gap: 50px;">
                            <label style="margin-bottom: 0px;font-weight: 600;font-size: large;">Children</label>
                            <button type="button" class="btn btn-primary mr-2" onclick="adjustGuest('children',-1)"
                                style="margin-top: 0;">-</button>
                            <span id="children-number" readonly="" data-value="2">0</span>
                            <button type="button" class="btn btn-primary mr-2" onclick="adjustGuest('children', 1)"
                                style="margin-top: 0;">+</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="choose-utility">Choose utility provide:</label>
                        <div id="choose-utility" name="choose-utility" style="margin-bottom: 5px;padding: 0rem 0.375rem; border: none;">
                         <!--  -->
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button type="button" class="btn btn-light" id="back-button">Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    const room_id = "{{ room_id }}";
    const typeroom_id = "{{ typeroom_id }}";
    const hotel_id="{{ hotel_id }}"
</script>
<script>
    let adultCount = 1;
    let childCount = 0;
    let sum_person=null;
    const partnerToken = localStorage.getItem('partner_token');
    const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    document.addEventListener('DOMContentLoaded', async function(){
        const response= await fetch(`/get_list_utitlity`, {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${partnerToken}`,
                    },
                }
        )
        const result= await response.json();
        const utility=document.getElementById('choose-utility');
        result.services.forEach(service => {
            const div=document.createElement('div');
            div.classList.add('item-service');
            div.innerHTML=`
             <input type="checkbox" style="transform: scale(1.5);" value="${service.idsv}" />
            <label style="margin-bottom: 0px;font-size: 16px;"> ${service.service}</label>
            `;
            utility.appendChild(div);
        });
        const roominfo=await fetch(`/edit_room/${room_id}/`,{
            method:'GET',
            headers:{
                'Authorization':`Bearer ${partnerToken}`,
            }
        });
        const roomdata=await roominfo.json();
        if(roomdata.success){
            const data=roomdata.room;  
            console.log(data);           
        document.getElementById('price').value=data.price/1000;
        document.getElementById('sum-room').value=data.quantity;
        data.capacity.forEach(capacity => {
            if (capacity.type_person === 'Người lớn') {
                document.getElementById('adult-number').innerText = capacity.sum_person;
                adultCount=capacity.sum_person;
            } else if (capacity.type_person === 'Trẻ em') {
                document.getElementById('children-number').innerText = capacity.sum_person;
                childCount=capacity.sum_person;
            }
            sum_person=updateGuestField();
        });
        data.utility.forEach(service => {
            document.querySelectorAll('.item-service').forEach(item => {
                const label = item.querySelector('label');
                const input = item.querySelector('input[type="checkbox"]');
                
                if (label && input && service.service_name === label.textContent.trim()) {
                    input.checked = true;
                }
            });
        });
        }
    });
   
    function adjustGuest(type, change) {
        if (type === 'adult') {
            if (change > 0) {
                adultCount = Math.max(1, adultCount + change);
                document.getElementById('adult-number').innerText = adultCount;
            } else if (change < 0 && adultCount > 1) {
                adultCount = Math.max(1, adultCount + change);
                document.getElementById('adult-number').innerText = adultCount;
            }

        } else if (type === 'children') {
            if (change > 0) {
                childCount = Math.max(0, childCount + change);
                document.getElementById('children-number').innerText = childCount;
            } else if (change < 0 && childCount > 0) {
                childCount = Math.max(0, childCount + change);
                document.getElementById('children-number').innerText = childCount;
            }
        }
        sum_person=updateGuestField();
    }
    function updateGuestField() {
        const totalGuests = adultCount + childCount;
        return totalGuests;
    }
    document.getElementById('back-button').addEventListener('click', function () {
        const typeroom_id = "{{ typeroom_id }}";
        window.location.href =  `/partner/detail-room/${typeroom_id}/${hotel_id}`;
    })
    document.getElementById('editroomForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        if (!partnerToken) {
            alert('Chưa đăng nhập');
            return;
        }
        const utility = [];
        document.querySelectorAll('#choose-utility input[type="checkbox"]:checked').forEach((checkbox) => {
            utility.push({idsv:checkbox.value});
        });

        const capacity = [];
        const idadult= document.getElementById('adult-number').getAttribute('data-value');
        const idchildren= document.getElementById('children-number').getAttribute('data-value');
        if (adultCount > 0) {
            capacity.push({ idtypecusm: idadult, quantity: adultCount });
        }
        if (childCount > 0) {
            capacity.push({ idtypecusm: idchildren, quantity: childCount });
        }
    
        const price = document.getElementById('price').value*1000;
        const sum_room = document.getElementById('sum-room').value;
        const typeroom_id = "{{ typeroom_id }}";
        const editroomResponse = await fetch(`/edit_room/${room_id}/`, {
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${partnerToken}`,
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ price, sum_room, capacity, utility})
        });
        const editroomData = await editroomResponse.json();

        if (editroomData.success) {
            alert(editroomData.message);
            window.location.href = `/partner/detail-room/${typeroom_id}/${hotel_id}`;
        } else if (editroomData.error) {
            alert(`Error: ${editroomData.error}`);
        }
    });
    
</script>
<style>
    .item-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    }
    #choose-utility{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 150px;
    flex-wrap: wrap;
    }
</style>
{% endblock %}